<!DOCTYPE html>

<html lang="en-us">
    <head>
        <title>@ViewBag.Title | HackerNewsClone</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @Styles.Render("~/styles/main")

        @RenderSection("ScriptsHeader", false)
    </head>

    <body>
        <div id="main">
            <div id="header">
                <h1>@ViewBag.Title</h1>
            </div>
            <div id="body">
                @RenderBody()
            </div>
        </div>

        @RenderSection("ScriptsFooter", false)
    </body>
</html>
