<!DOCTYPE html>

<html lang="en-us">
    <head>
        <title>@ViewBag.Title &ndash; Hyve</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        @Styles.Render("~/styles/main")

        @RenderSection("ScriptsHeader", false)
    </head>

    <body>
        <div id="main">
            <div id="header">
                <div class="container">
                    <div class="links site">
                        @* logo here *@
                        <div class="logo active">
                            @Html.ActionLink("Hyve", "Index", "Home")
                        </div>
                        <div>
                            @Html.ActionLink("Ask", "Ask", "Home")
                        </div>
                    </div>
                    <div class="links account">
                        <div>
                            @Html.ActionLink("Register", "Register", "Home")
                        </div>
                        <div>
                            @Html.ActionLink("Log in", "Login", "Home")
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    footer content
                </div>
            </div>
        </div>
        @RenderSection("ScriptsFooter", false)
    </body>
</html>
