@using System.Configuration;
@using Newtonsoft.Json;

@{
    bool isProduction = Convert.ToBoolean(ConfigurationManager.AppSettings["ProductionMode"]);
    var rev = JsonConvert.DeserializeObject<dynamic>(File.ReadAllText(Server.MapPath("~/Content/rev-manifest.json")));
}

<!DOCTYPE html>

<html lang="en-us">
    <head>
        <title>@(ViewBag.Title == null ? "Hyve" : $"{ViewBag.Title} | Hyve")</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="~/Content/css/@(isProduction ? rev["main.min.css"] : "main.css")" rel="stylesheet">

        @RenderSection("ScriptsHeader", false)
    </head>

    <body>
        <main>
            @Html.Partial("Partials/_Header")
            <section class="main-content">
                <div class="spacer">
                    @RenderBody()
                </div>
            </section>
            @Html.Partial("Partials/_Footer")
        </main>

        <script src="~/Content/js/@(isProduction ? rev["main.min.js"] : "main.js")"></script>
        @RenderSection("ScriptsFooter", false)
    </body>
</html>
