<!DOCTYPE html>

<html lang="en-us">
    <head>
        <title>@(ViewBag.Title == null ? "Hyve" : $"{ViewBag.Title} | Hyve")</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="~/Content/css/main.css" rel="stylesheet">

        @RenderSection("ScriptsHeader", false)
    </head>

    <body>
        <main>
            @Html.Partial("Partials/_Header")
            <section class="main-content">
                <div class="spacer">
                    @RenderBody()
                </div>
            </section>
            @Html.Partial("Partials/_Footer")
        </main>

        <script src="~/Content/js/main.js"></script>
        @RenderSection("ScriptsFooter", false)
    </body>
</html>
