<!DOCTYPE html>

<html lang="en-us">
    <head>
        @if (ViewBag.Title == null) {
            <title>hyve</title>
        } else {
            <title>@ViewBag.Title | hyve</title>
        }

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        @Styles.Render("~/styles/main")
        @RenderSection("ScriptsHeader", false)
    </head>

    <body>
        <main class="wrapper">
            <header>
                <nav class="main-nav">
                    <div class="title">
                        <h1>Hyve</h1>
                    </div>
                    <div class="nav-links">
                        <a href="">Sign up</a>
                        <a href="">Log in</a>
                    </div>
                </nav>
            </header>
            <section class="main-content">
                @RenderBody()
            </section>
            <footer>
                footer
            </footer>
        </main>
        @RenderSection("ScriptsFooter", false)
    </body>
</html>
