@model Hyve.Models.Post

@{ 
    string postDate = Model.DateCreatedUtc.ToLocalTime().ToString("MMM d");
    string postTime = Model.DateCreatedUtc.ToLocalTime().ToString("h:mm tt");
}

<div class="content">
    <div class="title">
        <a href="@Model.LinkUrl">@Model.Title</a>
    </div>
    <div class="sub-info">
        @Model.Rating @(Model.Rating == 1 ? "point" : "points") posted @postDate at @postTime by @Html.ActionLink(Model.CreatedBy.UserName, "User", "Home", new { id = Model.CreatedBy.UserName }, null)
        @Html.ActionLink($"{Model.Comments.Count} comments", "Post", "Home", new { id = Model.Id }, new { @class = "comments" })
    </div>
</div>
