@model Hyve.ViewModels.Home.PostListViewModel

@using Hyve.Models;

@if (Model.Posts.Count > 0) {
    <div class="post-list">
        @foreach (Post post in Model.Posts) {
            <div class="post">
                <div class="title"><a href="@post.LinkUrl">@post.Title</a></div>
                <div class="meta">
                    <span title="@post.DateCreatedUtc.ToString()">2 days ago</span>
                        by @Html.ActionLink(post.CreatedBy.UserName, "User", new { id = post.CreatedBy.UserName })
                        &middot; @Html.ActionLink(OutputCommentsText(post.Comments.Count), "Post", new { id = post.Id })
                </div>
            </div>
        }
    </div>
} else {
    <p>There are no posts.</p>
}

@functions {
    public string OutputCommentsText(int count) {
        if (count == 1) {
            return $"{count} comment";
        } else {
            return $"{count} comments";
        }
    }
}
