@model Hyve.ViewModels.Home.LoginViewModel

<h1>@ViewBag.Title</h1>

@Html.ValidationSummary()

@using (Html.BeginForm("Login", "Home", new { redirect = ViewBag.RedirectUrl }, FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Username)</td>
            <td>@Html.TextBoxFor(m => m.Username)</td>
            <td>@Html.ValidationMessageFor(m => m.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
            <td>@Html.ValidationMessageFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.RememberMe)</td>
            <td>@Html.CheckBoxFor(m => m.RememberMe)</td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">log in</button></td>
        </tr>
    </table>
}
