@model Hyve.ViewModels.Home.RegisterViewModel

<h1>@ViewBag.Title</h1>

@Html.ValidationSummary()

@using (Html.BeginForm("Register", "Home", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Username)</td>
            <td>@Html.TextBoxFor(m => m.Username)</td>
            <td>@Html.ValidationMessageFor(m => m.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmailAddress)</td>
            <td>@Html.TextBoxFor(m => m.EmailAddress)</td>
            <td>@Html.ValidationMessageFor(m => m.EmailAddress)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
            <td>@Html.ValidationMessageFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.PasswordConfirm)</td>
            <td>@Html.PasswordFor(m => m.PasswordConfirm)</td>
            <td>@Html.ValidationMessageFor(m => m.PasswordConfirm)</td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">register</button></td>
        </tr>
    </table>
}
